lp{ line-height: 3em;
font-size:1.5em;
}


h1{
        color:purple;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .2em 0;
        font-size: 1.7em;
}
h2{
        color:purple;
	font-weight:big;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
        font-size: 4em;
}

body{
    font-family: Arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}
#page{ margin: 25px; }

#logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}
#nav{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}

#nav ul li{
			display: inline-block;
			height: 60px;
          }

			#nav ul li a{
				padding: 20px;
				background: red;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #ffb424;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color:#00ffdd; }

#content{
	margin: 30px 0;
	background: pink;
	padding: 20px;disp
	clear: both;
}
#footer{
	border-bottom: 5px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}
#content,
ul li a{ box-shadow: 0px 1px 1px #999; }

body {
  background-image:url('vuya.jpg');
}
h2{
  color:red;

}
p{
  font-size:1.1em;
}
p{
  font-size: 1.5em;
}
